/ {
	aliases {
		btn1 = &btn1;
		btn2 = &btn2;
		btn3 = &btn3;
		btn4 = &btn4;
		display = &display;
	};
	buttons {
		compatible = "gpio-keys";
		btn1: btn1 {
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
		};
		btn2: btn2 {
			gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
		};
		btn3: btn3 {
			gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
		};
		btn4: btn4 {
			gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;
		};
	};
};

&i2c0 {
	display: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		height = <64>;
		width = <128>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		prechargep = <0x22>;
		com-invdir;
		segment-remap;
	};
};
